.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.produs {
    background: white;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.produs img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
